/*Container1 is the Header of the page*/
.Container1{
      background-color:#E0E0E0;
      padding: 50px;
      display: flex;
      flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding-top: 15px;
}

#logoCursus {
    outline: none;
    padding-top: 20px;
    width: 330px ;
    height: 127px ;
    max-width: 100%;
    height: auto;
}

.slogan{
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    display: block;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.connecter {
  background-color: #33AFDE;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 290px;
  padding: 2px 20px;
  color: white; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  
}

.connecter:hover {
  background-color: #2a8fbf;
}

.créer {
background-color: #5FCF80;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 290px;
  padding: 8px 20px;
  color: white; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center; 
}

.créer:hover {
  background-color: #4aa96a;
}


/* process is the signing up steps and Container2  contains the title and the grid */
.container2 {
  background-color:#F0F2F5;
  padding-top: 50px; padding-bottom: 70px;
  padding-left: 20px; padding-right: 20px; 
  
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
}

.title1 {
  font-family: 'raleway', sans-serif;
  color: #778D9B;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.step{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  font-family: 'raleway', sans-serif;
}

.row1 {
  font-family: 'raleway', sans-serif;
  color: #3B3D3F;
  font-weight: 600;
  font-size: 25px;
}

.row2 {
  font-weight: 400;
  font-size: 15px
}

/* Container3 contains the start now button and headers and using terms */

.Container3 {
  background-color: #2AA79C;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 30px;
}

.headers2{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'raleway', sans-serif;
  color: #F1F6F9;
  font-size: 20px;
  text-align: center;

}

.title2 {
  font-family: 'raleway', sans-serif;
  color: #F1F6F9;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.buttonContainer2{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
 }
 
 .compte{
  background-color: #F7941E;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 150px;

  color: #F1F6F9; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center; 
}

.compte:hover {
  background-color: #e68919; 
}

 .conditions{
  background-color: #D0525D;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 200px;
  color: #F1F6F9; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center; 
}

.conditions:hover {
  background-color: #bb4752; 
}

/* Container4 contains a table ( dates limites pour postuler) */

