/*Container1 is the Header of the page*/
.Container1{
      background-color:#E0E0E0;
      padding: 50px;
      display: flex;
      flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
    padding-top: 15px;
}
#logoCursus {
    outline: none;
    padding-top: 20px;
    width: 330px ;
    height: 127px ;
    max-width: 100%;
    height: auto;
}

.slogan{
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    display: block;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.connecter {
  background-color: #33AFDE;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 400px;
  padding: 2px 20px;
  color: white; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.connecter:hover {
  background-color: #2a8fbf;
}

.créer {
background-color: #5FCF80;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 400px;
  padding: 8px 20px;
  color: white; 
  font-family: 'raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.créer:hover {
  background-color: #4aa96a;
}


/*Container2 is the signing up steps*/

.step {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  width: 45%;
  margin: 20px;
}

.icon {
  font-size: 50px;
  color: #33AFDE; /* Or the appropriate shade */
}
